


<div class="jumbotron">
  <h1>My name is ... </h1>
  <p>I am creating this section now ...</p>
  <%= link_to 'About', home_about_path, class: 'btn
btn-default' %>
<%= link_to 'Home', root_path, class: 'btn
btn-primary' %>
</div>


<div class="container-fluid text-center">
  <h2>Skills</h2>
  <h4>What I can offer for you</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa fa-html5" aria-hidden="true"></i>
      <span class="glyphicon glyphicon-off"></span>
      <h4>HTML, HTML5</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h4>CSS/SASS/LESS</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock"></span>
      <h4>Ruby on Rails</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf"></span>
      <h4>Wordpress</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate"></span>
      <h4>JS and  JQuery</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench"></span>
      <h4>Hard work</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
