


        <div class="jumbotron">
                <h1>My name is Piotr </h1>
                <p>I am creating this section now ...</p>
              <%= link_to 'Home', root_path, class: 'btn
            btn-default' %>


        </div>
<div id="skils">
      <div class="container-fluid text-center">
              <h2>Skills</h2>
              <h3>What can I offer to you ?</h3>
              <br><br>
              <div class="row">
                  <div class="col-sm-4 col-xs-4">
                    <i class="fa fa-html5 fa-5x" aria-hidden="true"></i>
                    <h4>HTML,HTML5</h4>
                    <br>
                  </div>
                  <div class="col-sm-4 col-xs-4">
                    <i class="fa fa-css3 fa-5x" aria-hidden="true"></i>
                    <h4>CSS/SASS</h4>
                  </div>

                  <div class="col-sm-4 col-xs-4">
                    <i class="fa fa-wordpress fa-5x" aria-hidden="true"></i>
                    <h4>WORDPRESS</h4>
                  </div>
              </div>


                  <br><br>

              <div class="row">
                <br>
                  <div class="col-sm-4">
                   <img src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/158/Ruby_on_Rails_2-512.png">
                    <h4>RUBY ON RAILS</h4>
                  </div>
                  <br>
                  <div class="col-sm-4">
                    <img src="http://plainicon.com/dboard/userprod/2800_a1826/prod_thumb/plainicon.com-50242-256px-506.png">
                    <h4>JS and  JQUERY  </h4>
                  </div>
                      <br>
                  <div class="col-sm-4">
                    <img src="http://www.iconsplace.com/download/black-adobe-photoshop-512.png">
                    <h4>PHOTOSHOP</h4>
                  </div>
              </div>

                  <br><br>
              <div class="row">
                <br><br><br>
                  <div class="col-sm-4 col-xs-4">
                    <i class="fa fa-apple fa-5x" aria-hidden="true"></i>
                    <h4>MAC</h4>
                  </div>

                  <div class="col-sm-4 col-xs-4">
                    <i class="fa fa-github fa-5x" aria-hidden="true"></i>
                    <h4>GITHUB</h4>
                  </div>

                  <div class="col-sm-4 col-xs-4">
                    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                    <h4>TEAMWORK</h4>
                  </div>
              </div>
      </div>
</div>
