
<div class="contiainer">
  <div class="main">
    <div class="jumbotron first">
            <h1>Strona startowa </h1>
            <p>Dodaj swoje zdjęcie lub przeglądaj zdjęcia innych.</p>
            <div class="singn">
              <div class="row">
                    <div class="col-md-4 col-xs-4">
                    </div>

                  <div class="col-md-4 col-xs-4">
                      <div class="plus text-center">
                        <span class="add">
                          <%= link_to '+', new_foto_path %>
                        </span>
                      </div>
                  </div>

                  <div class="col-md-4 col-xs-4">
                  </div>
            </div>
          </div>

    </div>
  </div>
</div>
