
<div class="contiainer">
  <div class="main">
    <div class="jumbotron first">
            <h1 id="anim01" class="animated bounceInRight">Dodawaj i przeglądaj zdjęcia</h1>
            <p id="anim02" class="animated bounceInRight">Dodanie zdjęcia wymaga rejestracji</p>
            <%= link_to 'Rejestracja', new_user_registration_path, class: 'btn btn-primary btn-lg animated bounceInRight anim03' %>


            <div class="singn animated fadeInUpBig anim03">
              <div class="row">
                    <div class="col-md-4 col-xs-4">
                    </div>

                  <div class="col-md-4 col-xs-4">
                      <div class="plus text-center">
                        <span class="add">
                          <%= link_to '+', new_foto_path %>
                        </span>
                      </div>
                  </div>

                  <div class="col-md-4 col-xs-4">
                  </div>
            </div>
          </div>

    </div>
  </div>
  </div>
