/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*= require font-awesome
*= require 'masonry/basic'
*= require 'masonry/centered'
*= require 'masonry/fluid'
*= require 'masonry/gutters'
*= require 'masonry/infinitescroll'
*= require 'masonry/right-to-left'
*= require 'masonry/transitions'
*= require_self
*= require_tree .

 */
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';
@import 'https://fonts.googleapis.com/css?family=Raleway';
html{
  background-color: black;
}
body{
background-color: black;
}
h1, h2, h3, h4, p{
  font-family: 'Raleway', sans-serif;
}
  h1{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


.yellow{
  color: yellow;
}

.form{
  height: 600px;
  background-color: white;
  text-align: center;
  font-size: 1.5em;
  border-radius: 69px 69px 69px 69px;
-moz-border-radius: 69px 69px 69px 69px;
-webkit-border-radius: 69px 69px 69px 69px;
border: 0px solid #000000;
background-color: #ded4a2;
}

.formRender{
  position: relative;
  top:33%;
  width: 480px;
  left:33%;
}
.panel-body{
  background-color: #FFFAC4;
}
.panel-heading{
  background-color: #E7E1B0 !important;
}
