<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @foto.description %>
</p>
<% if @pin.user == current_user %>
  <%= link_to 'Edytuj', edit_foto_path(@foto) %> |
<% end %>
<%= link_to 'Powrót', fotos_path %>
