
          <h1>Zobacz</h1>
                <div class="container">
                  <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                      <div class="panel panel-default">
                          <div class="panel-heading center"><%= image_tag @foto.image.url(:big) %>
                              <%= @foto.description %>
                          </div>
                                <div class="panel-body">
                                    <% if @foto.user == current_user %>
                                    <%= link_to 'edytuj', edit_foto_path(@foto) %> |
                                    <% end %>
                                    <%= link_to 'wstecz', fotos_path %>
                               </div>
                     </div>
                    </div>
                </div>
              </div>
